Source: medusa
Section: web
Priority: extra
Architecture: all
Maintainer: Edward Murrell <edwardm@catalyst.net.nz>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: catalyst.net.nz

Package: medusa
Architecture: any
Depends: php5, php5-memcache, php5-pgsql, debconf
Description: PHP based JSON/XML interface for WRMS
 JSON/XML interface for WRMS, written in PHP
